* {
    margin: 0;
    font-family: poppins;
    /* min-height: 800px; */
}

.app {
    background-image: url(./images/background.jpg);
    /* position: relative; */
    background-size: cover;
    height: 100vh;
    width: 100vw;
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentBody {
    background: rgba(255,255,255,0.5);
    
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 90%;
    max-width: 1400px;
    border-radius: 15px;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.5);
    border-top: 1px solid rgba(255,255,255,0.8);
    border-left: 1px solid rgba(255,255,255,0.8);
    min-height: 800px;
    margin: 30px 0px 30px 0px;
    /* position: relative; */
}

h2 {
    font-size: 18px;
}

.navBar {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.navBar__left, .navBar__right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    width: 200px;
}

.navLogo {
    max-width: 20px;
    height: auto;
    padding-right: 10px;
}

.searchContainer {
    display: flex;
    align-items: center;
    border-radius: 15px;
    height: 20px;
    padding: 5px;
    margin-right: 30px;
    white-space: nowrap;
}

.searchBar {
    background: none;
    height: auto;
    border: none;
}

.searchIcon {
    color: rgba(0,0,0,0.3);
    padding-right: 5px;
}

.searchContainer:hover {
    background: rgba(0,0,0,0.1);
}

.searchBar:focus {
    outline: none;
}

.mainContent {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    height: 100%;
    /* position: relative; */
}

.toolbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 0.15;
    background: rgba(255,255,255,.2);
    border-radius: 15px;
    margin: 0px 10px 20px 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    border-top: 1px solid rgba(255,255,255,0.8);
    border-left: 1px solid rgba(255,255,255,0.8);
}

.toolbarItem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0 10px;
}

.toolbarItem__icon {
    width: 15px;
    height: auto;
    padding-right: 10px;
}

.toolbarItem__text {
    font-size: 14px;
}
    
.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex: 0.85;
    height: auto;
    width: auto;
    background: rgba(255,255,255,.2);
    border-radius: 15px;
    margin: 0px 20px 20px 10px ;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    border-top: 1px solid rgba(255,255,255,0.8);
    border-left: 1px solid rgba(255,255,255,0.8);
    padding: 10px;
    /* position: relative; */
    /* overflow: hidden; */
}

.dashboardHeader {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 100%;
    padding: 0px 0 10px 30px;
}

.topDashboard, .middleDashboard, .bottomDashboard {
    display: flex;
    width: 100%;
    height: 100%;
}

.topDashboard__item {
    width: 100%;
    background: rgba(255,255,255,.5);
    border-radius: 15px;
    margin: 0px 20px 20px 10px ;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    border-top: 1px solid rgba(255,255,255,0.8);
    border-left: 1px solid rgba(255,255,255,0.8);
    padding: 10px;
}

.bottomDashboard {
    /* position: relative; */
    overflow: hidden;
}

.bottomDashboard__item {
    width: 100%;
    background: rgba(255,255,255,.5);
    /* position: fixed; */
    border-radius: 15px;
    margin: 0px 20px 20px 10px ;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    border-top: 1px solid rgba(255,255,255,0.8);
    border-left: 1px solid rgba(255,255,255,0.8);
    padding: 10px;
    overflow-x: scroll;
    overflow-y: scroll;
    max-height: 240px;
}

.middleDashboard__itemLeft {
    background: rgba(255,255,255,.5);
    /* position: relative; */
    /* width: 100%; */
    border-radius: 15px;
    margin: 0px 20px 20px 10px ;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    border-top: 1px solid rgba(255,255,255,0.8);
    border-left: 1px solid rgba(255,255,255,0.8);
    /* padding: 10px; */
    flex: 0.6;
    min-height: 150px;
    /* min-width: 270px; */
}

.middleDashboard__itemRight {
    background: rgba(255,255,255,0.5);
    /* position: relative; */
    /* width: 100%; */
    border-radius: 15px;
    margin: 0px 20px 20px 10px ;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    border-top: 1px solid rgba(255,255,255,0.8);
    border-left: 1px solid rgba(255,255,255,0.8);
    padding: 10px;
    flex: 0.4;
    min-height: 150px;
    /* min-width: 270px; */
}

.topDashboard {
    height: 100px;
    min-height: 100px;
}

.temp {
    background-color: black;
    height: 100%;
    width: 100%;
}

.bar-chartIcon {
    height: 30px;
    width: 30px;
}

.tweet {
    width: 100%;
    height: 100%;
}

.tweetText {
    display: none;
}

@media only screen and (max-width: 1190px) {
    .toolbar {
      display: none;
    }

    #mostRetweeted {
        display: none;
    }
}

@media only screen and (max-width: 750px) {

    .app {
        height: auto;    
    }

    .contentBody {
        height: auto;
        margin: 10px 5px 10px 5px;
        padding: 10px 5px 10px 5px;
    }

    .mainContainer {
        margin: 10px 0px 10px 0px;
        padding: 10px 0px 10px 0px;
        /* width: 300px; */
    }
    
    .dashboard {
        margin: 10px 0px 10px 0px;
        padding: 10px 10px 10px 10px;
        /* width: 300px; */
    }

    .dashboardHeader {
        /* display: flex;
        flex-direction: column;
        align-content: flex-start; */
        width: 100%;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 15px;
    }

    .middleDashboard, .bottomDashboard {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  
    .topDashboard, .middleDashboard {
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        /* width: 300px; */
    }

    .bottomDashboard__itemText {
        margin: 10px 10px 10px 10px;
        font-size: 12px;
    }

    .topDashboard__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .middleDashboard__itemLeft, .middleDashboard__itemRight,
    .bottomDashboard__item, .topDashboard__item {
        margin: 10px 0px 10px 0px;
        padding: 0;
        width: 100%;
        /* width: 280px; */
    }

    /* .middleDashboard__itemLeft, .middleDashboard__itemRight, */
    .bottomDashboard__item {
        height: 120px;
        display: flex;
        flex-direction: column;
        /* padding: -50px; */
        /* width: auto; */
    }

    .topDashboard__itemText {
        font-size: 12px;
    }

    .tweet {
        display: none;
    }

    #mostRetweeted {
        display: flex;
    }

    .tweetText {
        display: flex;
        padding: 0 15px 0 15px;

        /* margin: 10px, 10px, 10px, 10px; */
    }
}

@media only screen and (max-width: 500px) {
    .navBar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 0 0 10px;
        margin: 0;
    }

    .navBar__left {
        justify-content: flex-start;
        margin: 0;
        padding: 0;
    }

    .searchContainer {
        margin: 0;
        padding: 0;
    }
}