* {
    margin: 0;
    font-family: poppins;
}

.app {
    background-image: url(./images/background.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-body {
    background: rgba(255,255,255,0.5);
    height: 90%;
    width: 90%;
    max-width: 1200px;
    border-radius: 15px;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.5);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
}

h2 {
    font-size: 18px;
}
.navBar {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.navBar__left, .navBar__right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    width: 200px;
}

.navLogo {
    max-width: 20px;
    height: auto;
    padding-right: 10px;
}

.searchContainer {
    border-radius: 5px;
    height: 25px;
    padding: 5px;
    margin-right: 15px;
    white-space: nowrap;
}

.searchBar {
    background: none;
    /* padding: 5px; */
    border: none;
}

.searchIcon {
    color: rgba(0,0,0,0.4);
    padding-right: 5px;
}

.searchContainer:hover {
    background: rgba(0,0,0,0.1);
}

.searchBar:focus {
    outline: none;
}
